.home-container {
    padding: 40px;
}

.start-button {
    color: #fff;
}

.home-content-container h3{
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #000000;
}

.home-content-container p{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #7e7e7e;
}
